@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}




/* header */

header {
    padding: 8px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 7px;
}

.icon-shape {
    padding: 4px 6px;
    background-color: #4A4A4A;
    border-radius: 4px;
    cursor: pointer;
}




/* main */

main {
    padding: 45px 80px 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
}

.user-box-wrapper {
    max-width: 12vw;
    min-width: 100px;
    position: relative;
}

.user-box-wrapper img {
    width: 100%;
    height: 100%;
}

.user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    font-size: calc(0.5vw + 5px);
    background-color: rgba(0, 0, 0, 0.7);
}




/* footer */

footer {
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mic-video-actions {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.action {
    text-align: center;
    cursor: pointer;
}

.action i {
    font-size: 26px;
    margin-bottom: 6px;
}

.drop-up-menu i {
    font-size: 12px;
    cursor: pointer;
}

.toolbar {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.green-icon {
    color: #4BC800;
}

.end-meeting {
    padding: 0 20px;
    background-color: #4A4A4A;
    color: red;
    cursor: pointer;
    line-height: 80px;
    white-space: nowrap;
}