@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




/* header */

header {
    padding: 8px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 7px;
}

.icon-shape {
    padding: 4px 6px;
    background-color: #4A4A4A;
    border-radius: 4px;
}




/* main */

main {
    padding: 45px 30px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px 16px;
}

.user-box-wrapper {
    width: 13vw;
    object-fit: cover;
    position: relative;
}

.user-box-wrapper img {
    width: 100%;
}

.user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    font-size: calc(0.5vw + 5px);
    background-color: rgba(0, 0, 0, 0.7);
}




/* footer */